In [291]:
# 변수 선언
name = "Alice"
age = 25
score = 95.5

# 1. 기본 문자열 출력
print("Hello, Python!")

Hello, Python!

In [292]:
# 4. format() 함수
print("My name is {}, I am {} years old, score: {}".format(name, age, score))
print("My name is {0}, age {1}, score {2}".format(name, age, score))
print("Score with 2 decimals: {:.2f}".format(score))

My name is Alice, I am 25 years old, score: 95.5
My name is Alice, age 25, score 95.5
Score with 2 decimals: 95.50

In [293]:

# 5. % 포맷팅 (C 스타일, 옛날 방식)
print("Name: %s, Age: %d, Score: %.1f" % (name, age, score))

Name: Alice, Age: 25, Score: 95.5

In [294]:
# 6. 여러 줄 출력 (\n라인 포함)
print("This is line 1\nThis is line 2")

This is line 1
This is line 2

In [295]:
# 7. end 옵션 (기본값은 줄바꿈 '\n')
print("Hello", end=" ")
print("World")

Hello World

In [296]:
# 8. sep 옵션 (기본값은 공백 ' ')
print("2025", "09", "23", sep="-")

2025-09-23

In [297]:
# 9. 딕셔너리/리스트 같이 출력
data = {"name": name, "age": age, "score": score}
print("Data:", data)

Data: {'name': 'Alice', 'age': 25, 'score': 95.5}

In [298]:
# 10. f-string 내 계산식/함수 사용
print(f"Next year age: {age + 1}")
print(f"Score (rounded): {round(score)}")

Next year age: 26
Score (rounded): 96

In [299]:
# 11. 멀티라인 f-string (''' 혹은 """ )
print(f"""
Student Info:
- Name: {name}
- Age: {age}
- Score: {score:.2f}
""")

Student Info:
- Name: Alice
- Age: 25
- Score: 95.50

In [300]:
# 2. 여러 값 출력 (콤마로 구분 -> 자동 띄어쓰기)
print("Name:", name, "Age:", age, "Score:", score)

Name: Alice Age: 25 Score: 95.5

이것은 print 예제입니다

In [301]:
# 3. f-string (가장 많이 쓰임, Python 3.6+)
print(f"My name is {name}, I am {age} years old, score: {score}")

My name is Alice, I am 25 years old, score: 95.5